<div class="popup">
  <div class="popup-message">
    <span class="popup-message-head"><b>Подтверждение</b></span>
    <div class="popup-message-block">
      <label class="popup-message-block">
        <span class="popup-message-text">{{product.title}}</span>
      </label>
      <label *ngIf="showCounter" class="popup-message-block">
        <span class="popup-message-text">Кол-во:</span>
        <input type="number" min="1" max="30" [(ngModel)]="productCount"
               class="popup-message-input">
      </label>
    </div>
    <span class="popup-message-text">Стоимость: {{product.price * productCount | currency}}</span>
    <div class="popup-message-buttons">
      <button class="cancel" (click)="cancel()"></button>
      <button class="button" (click)="addConfirmed()">{{action}}</button>
    </div>
  </div>
</div>
