<form class="form" [formGroup]="addressesForm">
  <label class="form-field">
    <span>Город:</span>
    <select formControlName="country" class="form-field-input">
      <option>--Выберите--</option>
      <option>Москва</option>
    </select>
  </label>
  <label class="form-field">
    <span>Улица:</span>
    <select formControlName="country" class="form-field-input">
      <option>--Выберите--</option>
      <option>Пролетарская</option>
    </select>
  </label>
  <label class="form-group">
    <label class="form-field">
      <span>Дом:</span>
      <input class="form-field-input small-input">
    </label>
    <label class="form-field">
      <span>Подъезд:</span>
      <input class="form-field-input small-input">
    </label>
    <label class="form-field">
      <span>Этаж:</span>
      <input class="form-field-input small-input">
    </label>
    <label class="form-field">
      <span>Квартира:</span>
      <input class="form-field-input small-input">
    </label>
  </label>
  <button class="form-button form-button-submit" routerLink="/register/check">Дальше →</button>
</form>
