@import "../styles/form.less";
.message {
  color: black;
  padding: @space;
  flex-grow: 1;
  display: flex;
  position: relative;
  &-warning {
    background: #d5d961;
    border: 1px solid darken(#d5d961, 30%);
    padding: @space;
    margin: auto;
    width: 50%;
  }
  &-error {
    background: #f6ddd5;
    //border: 1px solid darken(#e5746d, 30%);
    border-radius: @border-radius;
    box-shadow: inset 0 0 @small-space darken(#e5746d, 30%);
    padding: @space;
    margin: @space auto auto auto;
    display: flex;
  }
  &-text {
    display: flex;
    flex-direction: column;
    &-element {
      padding: @space * 0.2 ;
    }
    &-sign {
      font-size: 2em;
      color: darken(#e5746d, 50%);
      padding: 0 @space 0 0.5 * @space;
    }
  }
}

.back {
  .link;
  margin: @huge-space auto;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}
