<div class="login">
  <div class="login-form">
    <form novalidate [formGroup]="loginForm" (ngSubmit)="login()" (input)="enableSubmit()" class="login-form-main">
      <label class="hint">
        <span class="hint-message">Заполните поля <i><b>Логин</b></i> и <i><b>Пароль</b></i> и нажмите кнопку <i><b>Войти</b></i></span>
      </label>
      <label class="login-form-field">
        <span>Логин:</span>
        <input formControlName="login">
        <label class="validation-error" *ngIf="loginForm.get('login').dirty && loginForm.get('login').invalid">
          <span class="validation-error-message">⚠</span>
          <span class="validation-error-message">{{validationMessage("login")}}</span>
        </label>
      </label>
      <label class="login-form-field">
        <span>Пароль:</span>
        <label class="login-form-field-password">
          <input type="password" formControlName="password">
          <input type="checkbox" appShowPassword class="login-form-field-checkbox">
          <label class="validation-error" *ngIf="loginForm.get('password').dirty && loginForm.get('password').invalid">
            <span class="validation-error-message">⚠</span>
            <span class="validation-error-message">{{validationMessage("password")}}</span>
          </label>
        </label>
      </label>
      <input type="submit" class="login-form-submit" formControlName="submitButton">
    </form>
  </div>
  <div class="login-home">
    <a routerLink="" class="login-home-link">На главную</a>
  </div>
</div>
