<div class="table-container">
  <ng-template #empty>
    <div class="table-container-loading">
      <i>&lt; Пока ничего нет &gt;</i>
      <i class="center-aligned"><a routerLink="" class="link">За покупками</a></i>
    </div>
  </ng-template>
  <table *ngIf="purchaseList.length else empty" class="table">
    <tr *ngFor="let purchase of purchaseList" class="table-row">
      <td class="table-cell left-aligned">{{purchase.product.title}}</td>
      <td class="table-cell center-aligned">
        <button class="count-button" (click)="countIncrement(purchase)">+</button>
        <span><b>{{purchase.count}}</b></span>
        <button class="count-button" (click)="countDecrement(purchase)">-</button>
      </td>
      <td class="table-cell center-aligned">{{purchase.product.price * purchase.count | currency}}</td>
      <td class="table-cell right-aligned">
        <button (click)="displayPopupPurchase(purchase.product)" class="remove-button">Удалить</button>
      </td>
    </tr>
  </table>
  <div *ngIf="purchaseList.length" class="link-panel">
    <div class="left-aligned link-panel-item">
      <button class="clear-button" routerLink="">← Продолжить покупки</button>
    </div>
    <div class="right-aligned link-panel-item">
      <button class="clear-button" (click)="displayPopupBasketToggle()">Очистить корзину</button>
      <button class="to-order-button">К оформлению заказа <span>{{totalAmount | currency}}</span> →</button>
    </div>
  </div>
  <app-popup-add-purchase [action]="'Удалить'" [product]="chosenProduct" [showCounter]="false" *ngIf="askConfirmationForPurchase"
                          (hidePopup)="hidePopupPurchase()" (confirmed)="removePurchase()">
  </app-popup-add-purchase>
  <app-clear-basket-popup *ngIf="askConfirmationForClear" (confirmed)="clearBasket()" (hidePopup)="displayPopupBasketToggle()">
  </app-clear-basket-popup>
</div>
