<form novalidate [formGroup]=userNameForm (ngSubmit)="updateUserName()" class="edit-form">
    <div class="edit-form-username">
      <label class="edit-form-field">
        <span>Ваше имя:</span>
        <input formControlName="name">
      </label>
      <label class="edit-form-field">
        <span>Ваша фамилия:</span>
        <input formControlName="surname">
      </label>
    </div>
    <div class="edit-form-controls">
      <button type="submit" class="edit-form-controls-button">Готово</button>
      <button (click)="cancelUpdating()" class="edit-form-controls-button">Отменить</button>
    </div>
</form>
