<form novalidate [formGroup]="registerForm" (ngSubmit)="register()" class="form">
  <div formGroupName="userName" class="form-group">
    <label class="form-field">
      <span>Ваше имя:</span>
      <input formControlName="name" class="form-field-input">
    </label>
    <label class="form-field">
      <span>Ваша фамилия:</span>
      <input formControlName="surname" class="form-field-input">
    </label>
  </div>
  <label class="form-field">
    <span>Придумайте логин:</span>
    <label>
      <input formControlName="login" class="form-field-input">
      <span></span>
    </label>
  </label>
  <label class="form-field">
    <span>Придумайте пароль:</span>
    <label class="form-field-password">
      <input type="password" formControlName="password" class="form-field-input">
      <input type="checkbox" appShowPassword>
    </label>
  </label>
  <label class="form-field">
    <span>Повторите пароль:</span>
    <label class="form-field-password">
      <input type="password" formControlName="password" class="form-field-input">
      <input type="checkbox" appShowPassword>
    </label>
  </label>
  <button type="submit" class="form-button form-button-submit">Дальше →</button>
</form>
