@import "components/styles/constants.styles.less";
@green-color: #179b3f;
@red-color: #b61517;
.buttons {
  margin-top: @huge-space;
  &-log {
    display: flex;
    &-el {
      margin: auto;
      outline: none;
    }
  }
}

.user-profile-buttons {
  display: flex;
  margin: auto @huge-space auto 0;
}

.register-button {
  outline: none;
  padding: @huge-space;
  border-right: none;
  background: #dadada;
  border-color: #dadada;
}

.login-button {
  outline: none;
  padding: @huge-space;
  color: white;
  border-left: none;
  background: @green-color;
  border-color: @green-color;
}

.basket-button {
  .button-common-style;
  background: #dadada;
  border-color: #dadada;
  position: relative;
  margin: 0 @huge-space 0 auto;
  &-icon {
    height: 1.7em;
    width: 1.7em;
  }
  &-sign {
    position: absolute;
    color: white;
    background: @red-color;
    border-radius: 100%;
    text-align: center;
    width: 1.7em;
    height: 1.7em;
    margin-bottom: @space;
    bottom: 50%;
    right: -@huge-space;
    .column-display;
    &-text {
      margin: auto;
    }
  }
}
