<div class="main">
  <div class="profile">
    <span class="profile-head">
      Общая информация<a *ngIf="!editMode" (click)="editMode = !editMode" class="link">Редактировать</a>
    </span>
    <span *ngIf="user">Пользователь - <b>{{user.username.name}} {{user.username.surname}}</b></span>
    <app-edit-personal-data *ngIf="editMode"
                            [userInformation]="user"
                            (userUpdated)="editMode = !editMode">
    </app-edit-personal-data>
    <span *ngIf="user">Логин на сайте - <b>{{user.login}}</b></span>
    <span class="profile-head">Контактные данные</span>
    <span>Информации пока нет</span>
    <span class="profile-head">Смена пароля</span>
    <form novalidate [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()" class="password-form">
      <label class="password-form-field">
        <span>Текущий пароль:</span>
        <label>
          <input type="password" formControlName="currentPassword">
          <input type="checkbox">
        </label>
      </label>
      <label class="password-form-field">
        <span>Новый пароль:</span>
        <label>
          <input type="password" formControlName="newPassword">
          <input type="checkbox">
        </label>
      </label>
      <label class="password-form-field">
        <span>Новый пароль ещё раз:</span>
        <label>
          <input type="password" formControlName="confirmNewPassword">
          <input type="checkbox">
        </label>
      </label>
      <button class="password-form-submit-button">Сменить пароль</button>
    </form>
    <div>
      <a class="profile-head" (click)="logout()">Logout</a>
    </div>
  </div>
</div>
