<div class="menu">
  <div class="menu-text">
    <span *ngIf="!user">Привет! </span>
    <span *ngIf="user">Привет, {{user.username}}! </span>
    <span>Добро пожаловать в магазин.</span>
    <a *ngIf="!user" routerLink="login" class="menu-text-link">Login</a>
    <a *ngIf="!user" routerLink="register/personal" class="menu-text-link">Register</a>
    <a *ngIf="user" routerLink="logout" class="menu-text-link">Logout</a>
    <a *ngIf="user" routerLink="profile" class="menu-text-link">Profile</a>
  </div>
</div>
<div class="products">
  <table class="products-list">
    <thead>
    </thead>
    <tbody>
    <tr *ngFor="let product of productList">
      <td class="products-list-cell">{{product.title}}</td>
      <td class="products-list-cell">{{product.price | currency}}</td>
    </tr>
    </tbody>
  </table>
</div>
