<div class="menu">
  <div class="menu-text">
    <span *ngIf="!user">Привет! </span>
    <span *ngIf="user">Привет, {{user.username}}! </span>
    <span>Добро пожаловать в магазин.</span>
    <a *ngIf="!user" routerLink="login" class="menu-text-link">Login</a>
    <a *ngIf="user" routerLink="logout" class="menu-text-link">Logout</a>
    <button (click)="test()">sdfg</button>
  </div>
</div>
<div class="products">
  <table class="products-list">
    <thead>
    <tr>
      <th>Товар</th>
      <th>Стоимость</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
