<div class="menu">
  <div class="menu-text">
    <span *ngIf="!loggedIn">Привет! </span>
    <span *ngIf="loggedIn">Привет, {{user.username.name}} {{user.username.surname}}! </span>
    <span>Добро пожаловать в магазин.</span>
    <a *ngIf="!loggedIn" routerLink="login" class="menu-text-link">Login</a>
    <a *ngIf="!loggedIn" routerLink="register" class="menu-text-link">Register</a>
    <a *ngIf="loggedIn" (click)="logout()" class="menu-text-link">Logout</a>
    <a *ngIf="loggedIn" routerLink="profile" class="menu-text-link">Profile</a>
    <a routerLink="basket" class="menu-text-link">
      <span>Basket</span>
      <span *ngIf="user.purchases && user.purchases.length">({{user.purchases.length}})</span>
    </a>
  </div>
</div>
<div class="products">
  <ng-template #loading>
    <div *ngIf="!loadError.error" class="products-load">Загружаем..</div>
    <div *ngIf="loadError.error" class="products-load">
      <span>{{loadError.message}}</span>
      <button (click)="reload()" *ngIf="loadError.error">Reload</button>
    </div>
  </ng-template>
  <table class="table" *ngIf="productList.length else loading">
    <thead>
    </thead>
    <tbody>
    <tr *ngFor="let product of productList" class="table-row">
      <td class="table-cell">{{product.title}}</td>
      <td class="table-cell">{{product.price | currency}}</td>
      <td class="table-cell"><button (click)="askConfirmation(product)">+</button></td>
    </tr>
    <app-purchase-add-popup *ngIf="askConfirm"
                            [product]="productAdding"
                            (choiceMade)="answerAction(productAdding, $event)">
    </app-purchase-add-popup>
    </tbody>
  </table>
</div>
