<div class="form-name">
  <span class="form-name-text">Контактная информация</span>
</div>
<form novalidate [formGroup]="contactsForm" (submit)="nextStep()" class="form">
  <label class="form-group">
    <label class="form-field">
      <span>Номер телефона:</span>
      <input formControlName="phoneNumber" class="form-field-input">
    </label>
    <button class="form-button">+</button>
  </label>
  <label class="form-group">
    <label class="form-field">
      <span>Электронная почта:</span>
      <input formControlName="email" class="form-field-input">
    </label>
    <button class="form-button">+</button>
  </label>
  <label class="form-group">
    <button class="form-button" routerLink="/register/personal">← Назад</button>
    <button class="form-button-submit form-button">Дальше →</button>
  </label>
</form>
